<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954600644779-dc1o39miaeu4rktdh33p3b2hojifgifp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954600644779-dc1o39miaeu4rktdh33p3b2hojifgifp</string>
	<key>API_KEY</key>
	<string>AIzaSyC_mIluolQ16GhMR8CJvYHbF1MYfKpWKGY</string>
	<key>GCM_SENDER_ID</key>
	<string>954600644779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emeenfresh.user.emeenuser</string>
	<key>PROJECT_ID</key>
	<string>emeenuser</string>
	<key>STORAGE_BUCKET</key>
	<string>emeenuser.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954600644779:ios:2465221ad0ee32d23997ee</string>
</dict>
</plist>